@import "../../../assets/scss/mixins/index.scss";
@import "../../../assets/scss/variables/index.scss";

.home__song-list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  @include padding($padding: 50px 0 0 0);
  position: absolute;
  left: $menuWidth;
  max-width: calc(100% - $menuWidth);
  @include maxWidth(1125px) {
    left: $menuWidthRes;
    max-width: calc(100% - $menuWidthRes);
  }
  @include maxWidth(530px) {
    left: $menuWidthRes;
    max-width: 100%;
  }
}
.home__song {
  width: 180px;
  height: 180px;
  @include maxWidth(1125px) {
    width: 95%;
    height: 95%;
  }
  @include maxWidth(530px) {
    width: 80%;
    height: 80%;
  }
  &--img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: 0.2s;
    }
  }
  &--content {
    width: 100%;
    & > h3 {
      width: 50%;
      color: $white;
      font-size: 14px;
      @include padding(10px 0 5px 0);
      @include textOverflowEllipsis(1);
      cursor: pointer;
    }
    & > p {
      color: inherit;
      cursor: pointer;
    }
  }
  &--icon-play {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 200%;
    display: none;
    color: white;
    &:hover {
      opacity: 0.7;
    }
  }
  &--icon-more {
    position: absolute;
    right: 25%;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 150%;
    display: none;
    color: white;
  }
  &--icon-heart {
    position: absolute;
    right: 75%;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 150%;
    display: none;
    color: white;
  }
}
.home__song--img:hover .home__song--icon-play,
.home__song--img:hover .home__song--icon-more,
.home__song--img:hover .home__song--icon-heart {
  display: block;
}

.home__song--img:hover > img {
  transform: scale(1.2);
  filter: brightness(65%);
}
