@import "../../../../assets/scss/mixins/index.scss";
@import "../../../../assets/scss/variables/index.scss";

.Song {
  @include displayFlex($direc: row, $justy: space-between);
  @include padding(10px 8px);
  width: 100%;
  height: 68px;
  border-radius: 10px;
  margin-top: 10px;
  &:hover {
    background-color: rgba($color: $gray, $alpha: 0.4);
  }
  &__Title {
    margin-top: 15px;
    min-width: 250px;
    font-size: 14px;
    font-weight: 700;
    color: $white;
  }
  &__left {
    @include displayFlex($direc: row);
    gap: 10px;
    width: 250px;
    &--des {
      width: 198px;
    }
    &--photo {
      width: 52px;
      height: 52px;
      position: relative;
    }

    &--posi {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &--image {
      width: 100%;
      height: 100%;
    }
    &--pause {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      line-height: 0;
      color: $white;
      visibility: hidden;
    }
    &--name {
      font-size: 14px;
      font-weight: 500;
      color: $white;
    }
    &--author {
      font-size: 12px;
      color: $gray;
    }
  }
  &__right {
    @include displayFlex($direc: row, $justy: flex-end);
    width: 50%;
    visibility: hidden;
    gap: 20px;
    &--hear {
      width: 40px;
      height: 40px;
      @include displayFlex();
      border-radius: 50%;
    }
    &--dot {
      width: 40px;
      height: 40px;
      @include displayFlex();
      border-radius: 50%;
    }
    &--hear:hover,
    &--dot:hover {
      background-color: rgba($color: $gray, $alpha: 0.3);
    }
  }
  &:hover &__right,
  &:hover &__left--pause {
    visibility: visible;
  }
}
