.partner-list{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px 10px;
    display: flex;
    padding: 10px 30px;
    flex-wrap: wrap;

    span{
        text-align: center;
        color: darkgrey;

    }
}