@import "/assets/scss/mixins/index.scss";
@import "/assets/scss/variables/index.scss";

.new-release {
  padding: 49px 59px;
  margin-left: 240px;
  @include maxWidth($md) {
    margin-left: 80px;
  }
    
  &__heading {
      font-size: 20px;
      margin-bottom: 20px;
  }

  &__nav {
    @include displayFlex($direc: row, $wrap: nowrap, $justy: space-between, $align: center);
    font-size: 12px;
    margin-bottom: 16px;
  }

  &__tabs {
    @include displayFlex($direc: row, $wrap: nowrap, $justy: space-between, $align: center);
    gap: 15px;
  }
  
  &__tab {
    border: 1px solid $black;
    border-radius: 100px;
    background-color: transparent;
    padding: 4px 24px;
    border: 1px solid #ffffff1a;
  }

  &__tab:hover {
    filter: brightness(.9);
    transition: all .2s;
  }

  &__tab:focus {
    outline: none;
  }

  &__tab.active {
    background-color: #9b4de0;
  }

  &__showAll {
    color: #ffffff80;
    cursor: pointer;
  }

  &__showAll:hover {
    color: #9b4de0;
    transition: all .2s;
  }

  &__music-wrapper {
      @include displayFlex($direc: row, $wrap: wrap, $justy: space-between, $align: center);
      gap:2%;
  }

  &__music-column {
    width: 32%;
    @include maxWidth($lg) {
      width: 49%;
    }
    @include maxWidth($md) {
      width: 100%;
    }
  }

  &__music-column.column-2{
    @include maxWidth($lg) {
      display: none;
    }
  }

  &__music-column.column-3{
    @include maxWidth($md) {
      display: none;
    }
  }
}