@import '../../../assets/scss/variables/index.scss';
@import '../../../assets/scss/mixins/index.scss';
.recent-list{
    margin-top: 40px;
    margin-left: $menuWidth;
    @include padding( 0 50px);
    max-width: calc(100vw - $menuWidth);
    &__title{
        @include  displayFlex(row,nowrap,space-between,center);
        margin-bottom: 20px;
        &--left{
            font-size: 20px;
            font-weight: 700;
            color: $white;
        }
        &--right{
            font-size: 15px;
            font-weight: 400;
            color: rgba($color: $white, $alpha: 0.5);
            @include  displayFlex(row,nowrap,space-between,center);
            cursor: pointer;
        }
        &--right:hover{
            color: $purple;
        }
        &--right:hover path{
            fill:$purple;
        } 
        &--right img{
            opacity: 0.4;
        }
    }
    &__wrapper{
        @include  displayFlex(row,nowrap,space-between,flex-start);
        gap:20px;
    }
    @include maxWidth($md) {
        margin-left: 50px;
        max-width: calc(100vw - 40px);
        &__wrapper .recentSong:nth-child(6){
            display: none;
        }
    }
}